<ul class="game-list"> 
  <li *ngFor="let game of games" class="game-item">
    
    <img 
      [src]="game.imgUrl" 
      [alt]="game.title"
      class="game-cover"
    >

    <div>
      <button class="btn btn-warning" style="margin: 10px 8px;" (click)="editGame(game)">Editar</button>
      <button class="btn btn-danger" (click)="deleteGame(game.id)">Excluir</button>
    </div>
    
  </li>
</ul>

<!-- CREATE GAME -->
<h3>Criar novo jogo</h3>
<input type="text" [(ngModel)]="newGameTitle" placeholder="Título do jogo">
<button class="btn btn-primary" style="margin-left: 14px;" (click)="createGame()">Criar</button>

<form class="list-options" (change)="onListChange($event)">
  <label>
    <input type="radio" name="preferencia" value="1">
    Aventura e RPG
  </label><br>

  <label>
    <input type="radio" name="preferencia" value="2">
    Jogos de plataforma
  </label><br>

  <label>
    <input type="radio" name="preferencia" value="3">
    Todos
  </label>
</form>

<button class="btn-voltar" (click)="goToHome()">Voltar</button>