<div class="page-wrapper">
  <section class="conteudo">
    <form class="register-form" (ngSubmit)="register()">
      <h2>REGISTRAR</h2>
      <div class="input-grupo">
        <label for="name">Nome</label>
        <input type="text" id="name" [(ngModel)]="username" name="username" placeholder="Seu nome" required>
      </div>
      <div class="input-grupo">
        <label for="password">Senha</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Senha" required>
      </div>
      <button type="submit">REGISTRAR</button>
      <p class="login-link">Já tem uma conta? <a routerLink="/login">Entre aqui!</a></p>
    </form>
  </section>
</div>