<section class="container">
    <form class="register-form">
      <h2>Registrar</h2>
      <div class="input-group">
        <label for="name">Nome</label>
        <input type="text" id="name" placeholder="Seu nome" required>
      </div>
      <div class="input-group">
        <label for="password">Senha</label>
        <input type="password" id="password" placeholder="Senha" required>
      </div>
      <button type="submit">Registrar</button>
      <p class="login-link">Já tem uma conta? <a href="#">Entrar</a></p>
    </form>
</section>