<header class="navbar">
    <a href="#" class="logo">DSList</a>

    @if (isFocus) {
        <div class="overlay" (click)="toggleFocus(false, buscaInput)"></div>
    }

    <div class="search-container" [class.focused]="isFocus">
        <input #buscaInput type="text" placeholder="Pesquisar..." (input)="onSearch(buscaInput.value)"
            (focus)="toggleFocus(true)" (blur)="toggleFocus(false, buscaInput)" autocomplete="off">
        <button (click)="onSearch(buscaInput.value)" type="submit"><i class="bi bi-search"></i></button>    
        
        <ul class="search-results" *ngIf="isFocus && (games$ | async) as games">
            @for (game of games; track game.id) {
            <li>
                <a [routerLink]="['/game_details', game.id, getSlug(game.title)]" (click)="clearSearch(buscaInput)">
                    {{ game.title }}
                </a>
            </li>
            }
        </ul>
    </div>

    <nav class="nav-links">
        <a style="cursor: pointer;" (click)="goToGamesStore()">Loja</a>
        <a style="cursor: pointer;" (click)="goToGames()">Meus Jogos</a>
        <a href="#">Pamonha</a>
        <a href="#">Maracuja</a>
    </nav>
    
    <div class="menu-toggle">
        <i class="fa fa-bars"></i>
    </div>
    <button type="button" class="btn btn-danger" (click)="logout()">Deslogar</button>
</header>

<script>
    const menuToggle = document.querySelector('.menu-toggle');
    const navLinks = document.querySelector('.nav-links');

    menuToggle.addEventListener('click', () => {
        navLinks.classList.toggle('active');
    });
</script>